<p>
  lesson 23 :
</p>
<p>
</p>
<div class="form" [formGroup]="form">
  <div>
    <input type="text" formControlName="name" placeholder="name">
    <div class="state"> Name control valid => {{get('name').valid}} , invalid => {{get('name').invalid}} , touched =>
      {{get('name').touched}} , dirty =>
      {{get('name').dirty}}</div>
  </div>
  <div>
    <input type="text" formControlName="lastName" placeholder="lastName">
    <div class="state"> lastName control valid => {{get('lastName').valid}} , invalid => {{get('lastName').invalid}} ,
      touched => {{get('lastName').touched}} , dirty => {{get('lastName').dirty}}
    </div>
  </div>
  <div>
    <input type="text" formControlName="email" placeholder="email">
    <div class="state"> email control valid => {{get('email').valid}} , invalid => {{get('email').invalid}} , touched
      =>
      {{get('email').touched}} , dirty =>
      {{get('email').dirty}}
    </div>
  </div>
  <div>
    <input type="text" formControlName="address" placeholder="address">
    <div class="state"> address control valid => {{get('address').valid}} , invalid => {{get('address').invalid}} ,
      touched => {{get('address').touched}} , dirty => {{get('address').dirty}}
    </div>
  </div>
  <div><button (click)="save()">Save</button> <button (click)="reset()">Reset</button></div>
</div>
<div class="state"> Form valid => {{form.valid}} , invalid => {{form.invalid}} , touched => {{form.touched}} , dirty
  =>
  {{form.dirty}}</div>