.fancy-style {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 2px 5px rgba(148, 148, 148, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: justify;
  &::first-letter {
    font-size: 2rem;
    margin-right: 0.25rem;
  }
}
