<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="true" [fixedInViewport]="true" #sidenav>
        <mat-toolbar color="accent">
            Lessons
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let lesson of lessonsList;let idx=index" [routerLink]="lesson.path"
                routerLinkActive="active-lesson" (click)="updateIndex(idx)">{{lesson.title}}</a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-button (click)="sidenav.toggle()"><i class="fas fa-bars fa-2x"></i></button>
        <div class="title">
            Introduction to Angular
        </div>

    </mat-toolbar>

    <div class="container">
        <div class="text-right">
            <mat-button-toggle-group>
                <mat-button-toggle (click)="prev()">
                    <i class="fas fa-2x fa-angle-left"></i>
                </mat-button-toggle>
                <mat-button-toggle (click)="next()">
                    <i class="fas fa-2x fa-angle-right"></i>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <!-- <button mat-raised-button (click)="prev()"><i class="fas fa-2x fa-angle-left"></i></button>
            &nbsp;
            <button mat-raised-button (click)="next()"><i class="fas fa-2x fa-angle-right"></i></button> -->
        </div>

        <div class="router-holder">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>