<p>
  lesson 25 :
</p>

<p>
  Build complex form.
</p>

<div class="reactive-form" [formGroup]="form">
  <div>
    <input type="text" formControlName="name" placeholder="name">
    <div *ngIf="get('name').invalid && (get('name').touched || get('name').dirty )">
      <ul class="error-list">
        <li *ngIf="get('name').hasError('required')">this is a required field</li>
      </ul>
    </div>
  </div>
  <div>
    <input type="text" formControlName="lastName" placeholder="lastName">
    <div *ngIf="get('lastName').invalid && (get('lastName').touched || get('lastName').dirty )">
      <ul class="error-list">
        <li *ngIf="get('lastName').hasError('required')">this is a required field</li>
      </ul>
    </div>
  </div>
  <div>
    <input type="text" formControlName="email" placeholder="email">
    <div *ngIf="get('email').invalid && (get('email').touched || get('email').dirty )">
      <ul class="error-list">
        <li *ngIf="get('email').hasError('required')">this is a required field</li>
        <li *ngIf="get('email').hasError('email')">this is email invalid.</li>
      </ul>
    </div>
  </div>
  <div>
    <label>
      Male <input type="radio" formControlName="gender" value="M">
    </label>
    <label>
      Female <input type="radio" formControlName="gender" value="F">
    </label>
  </div>
  <div>
    <label>Position</label>
    <select formControlName="position">
      <option value=""></option>
      <option *ngFor="let position of positions" [value]="position">{{position}}</option>
    </select>
  </div>
  <div>
    <label>Education</label>
    <select formControlName="education">
      <option value=""></option>
      <option *ngFor="let education of educations" [value]="education">{{education}}</option>
    </select>
  </div>
  <div>
    <input type="text" formControlName="address" placeholder="address">
  </div>

  <div>
    <label>
      Valid
      <input type="checkbox" formControlName="state">
    </label>
  </div>

  <div><button (click)="save()" [disabled]="form.invalid">Save</button> <button (click)="reset()">Reset</button></div>
</div>


<div *ngIf="selectedValue">
  <code>
      <pre>{{selectedValue | json}}</pre>
    </code>
</div>