

li {
    min-width: 25vw;
clear: both;
max-width: 25vw;
border:1px dashed rgba(0,0,0,0.2);
margin: 0.5rem 0;
padding: 0.5rem;
background: rgba($color: green, $alpha: 0.5);
    button{
        float: right;
    } 
}