/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

body {
  margin: 0;
  padding: 0;
}

mat-sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

mat-sidenav-container {
  height: 100vh;
}

.container {
  padding: 1.5rem;
}

mat-nav-list {
  padding-top: 0 !important ;
  a {
    border-bottom: 1px solid #f3f3f3;
    &.active-lesson {
      background: rgba(#ff4081, 0.6) !important;
      color: white;
    }
  }
}

.text-right {
  text-align: right;
}

.router-holder {
  border: 1px dashed rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding: 1rem;
}

code {
  display: block;
}

.title {
  margin-left: 0.25rem;
}

* {
  font-family: "roboto";
}

.router-holder {
  div {
    margin-top: 0.5rem;
  }
}

/*
 reactive form validation style
*/

.reactive-form {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 15px -10px rgba(0, 0, 0, 0.25);

  .error-list {
    padding: 0;
    padding-left: 0.5rem;
    li {
      list-style: none;
      font-size: 0.8rem;
      color: #ff4081;
      text-shadow: 0 2px 5px rgba($color: #ff4081, $alpha: 0.25);
    }
  }
  &,
  * {
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
  }
  input[type="text"],
  select {
    outline: none;
    padding: 0.5rem;
    display: block;
    width: 100%;
    border: 1px solid #aaa;
  }
  input[type="checkbox"] {
    margin-top: 0.5rem;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid #a00136;
    background: #ff4081;
    box-shadow: 0 4px 10px -1px rgba($color: #9c0839, $alpha: 0.8) inset;
    color: #fff;
    &::placeholder {
      color: #fff;
    }
  }
  button {
    padding: 0.25rem;
    margin: 0 0.25rem;
  }
}

.d-block {
  display: block;
}
