<p>
  Install
</p>

<div>
  Install Stable version of nodejs
</div>

<div>
  <h3>Install Angular/CLI</h3>
  <code>
    npm install @angular/cli@6.2.4 -g
  </code>
</div>

<div>
  <h3>Create new angular app</h3>
  <code>
      ng new app-name
  </code>
  <code>
    ng new app-name style --scss
  </code>
</div>


<div>
  <h3>Create new angular module</h3>
  <code>
    ng g m module-name 
  </code>
</div>


<div>
  <h3>Run angular app</h3>
  <code>ng s</code>
  <code>ng serve</code>
</div>


<div>
  <h3>Create new angular component</h3>
  <code>
      ng g c component-name
    </code>
  <code>
    ng g c component-name --export
  </code>
</div>


<div>
  <h3>Get help about angular cli commands</h3>
  <code>
        ng --help
      </code>
  <code>
      ng g --help
    </code>
  <code>
      ng g c --help
    </code>
</div>

<div>
  <h3>Editor : VSCode</h3>
  <ul>
    <li>Angular Language Service</li>
    <li>Debugger for Chrome </li>
    <li>Prettier - Code formatter </li>
    <li>ESLint</li>
    <li>Material Icon Theme</li>
    <li>Cobalt2 Theme Official</li>
  </ul>
</div>